  html {
  font-family:Arial, Helvetica, sans-serif;
  line-height:1.4rem;
  }
  a { text-decoration: none; }
  @media (prefers-color-scheme: dark) {
    a:visited { color: #8ab4f8; font-weight: bolder;}
    a:link { color: #8ab4f8; font-weight: bolder;}
    a:hover { color: lightblue; }
    a:active { color: #48ffff; }
    html {
      color: #C9D1D9;
      background-color: #0D1117;
    }
  }
  @media (prefers-color-scheme: light) {
    a:visited { color: blue; font-weight:bolder;}
    a:link { color: blue; font-weight:bolder;}
    a:hover { color: #8ab4f8; }
    a:active { color: purple; }
    html {
      color: #24292f;
      background-color: #fdfdfd;
    }
  }
.output {
  font-family:'Courier New',monospace;
  border: 1px solid #999;
  background-color: #eeeeee;
  padding: 5px;
}
table {
  border-collapse: collapse;
}
td,th {
  border: 1px solid #999;
  text-align: left;
  padding: 3px;
  font-family:'Courier New',monospace;
}
  #foot {
    display:block;
  }
  #sites svg {
    height:100%;
  }
  #sites {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-bottom: 3px;
    font-size: 28px;
    letter-spacing: 2px;
  }
  #desc {
    overflow: auto;
    border: 1px solid #EEE; 
    padding-top: 3px;
    padding-left: 5px;
    padding-bottom: 3px;
    border-bottom-style:solid;
    border-right-style:none;
    border-left-style:none;
    border-top-style:solid;
  }
  #foot {
    font-size: .7rem;
    line-height:.8rem;
    margin-bottom:38px;
  }
 .small {
    white-space: pre-wrap;
    font-size: .7rem;
    line-height:.8rem;
  }
  #sean_button {
    right: 10px;
    font-size: 1.3rem;
    position: fixed; 
    bottom: 10px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: transparent; 
    cursor: pointer; 
  }
  @media (prefers-color-scheme: dark) {
    .output {
  border: 1px solid inherit;
  background-color:inherit;
    }
  
    /*!
    Theme: Unikitty 
    Author: Josh W Lewis (@joshwlewis)
    License: ~ MIT (or more permissive) [via base16-schemes-source]
    Maintainer: @highlightjs/core-team
    Version: 2021.09.0
  */
    pre code.hljs { display: block; overflow-x: auto; padding: 1em } code.hljs { padding: 3px 5px } .hljs { color: #bcbabe; background: #2e2a31 } .hljs ::selection, .hljs::selection { background-color: #666369; color: #bcbabe } .hljs-comment { color: #838085 } .hljs-tag { color: #9f9da2 } .hljs-operator, .hljs-punctuation, .hljs-subst { color: #bcbabe } .hljs-operator { opacity: .7 } .hljs-bullet, .hljs-deletion, .hljs-name, .hljs-selector-tag, .hljs-template-variable, .hljs-variable { color: #d8137f } .hljs-attr, .hljs-link, .hljs-literal, .hljs-number, .hljs-symbol, .hljs-variable.constant_ { color: #d65407 } .hljs-class .hljs-title, .hljs-title, .hljs-title.class_ { color: #dc8a0e } .hljs-strong { font-weight: 700; color: #dc8a0e } .hljs-addition, .hljs-code, .hljs-string, .hljs-title.class_.inherited__ { color: #17ad98 } .hljs-built_in, .hljs-doctag, .hljs-keyword.hljs-atrule, .hljs-quote, .hljs-regexp { color: #149bda } .hljs-attribute, .hljs-function .hljs-title, .hljs-section, .hljs-title.function_, .ruby .hljs-property { color: #796af5 } .diff .hljs-meta, .hljs-keyword, .hljs-template-tag, .hljs-type { color: #bb60ea } .hljs-emphasis { color: #bb60ea; font-style: italic } .hljs-meta, .hljs-meta .hljs-keyword, .hljs-meta .hljs-string { color: #c720ca } .hljs-meta .hljs-keyword, .hljs-meta-keyword { font-weight: 700 } 
  }
  @media (prefers-color-scheme: light) {
    .output {
  border: 1px solid #999;
  background-color: #eeeeee;
    }
    pre code.hljs { display: block; overflow-x: auto; padding: 1em; } code.hljs { padding: 3px 5px; } .hljs { color: #6c696e; background: #ffffff; } .hljs::selection, .hljs ::selection { background-color: #c4c3c5; color: #6c696e; } .hljs-formula, .hljs-params, .hljs-comment { color: #a7a5a8; } .hljs-tag { color: #89878b; } .hljs-subst, .hljs-punctuation, .hljs-operator { color: #6c696e; } .hljs-operator { opacity: 0.7; } .hljs-bullet, .hljs-variable, .hljs-template-variable, .hljs-selector-tag, .hljs-name, .hljs-deletion { color: #d8137f; } .hljs-symbol, .hljs-number, .hljs-link, .hljs-attr, .hljs-variable.constant_, .hljs-literal { color: #d65407; } .hljs-title, .hljs-class .hljs-title, .hljs-title.class_ { color: #dc8a0e; } .hljs-strong { font-weight: bold; color: #dc8a0e; } .hljs-code, .hljs-addition, .hljs-title.class_.inherited__, .hljs-string { color: #17ad98; } .hljs-built_in, .hljs-doctag, .hljs-quote, .hljs-keyword.hljs-atrule, .hljs-regexp { color: #149bda; } .hljs-function .hljs-title, .hljs-attribute, .ruby .hljs-property, .hljs-title.function_, .hljs-section { color: #775dff; } .hljs-type, .hljs-template-tag, .diff .hljs-meta, .hljs-keyword { color: #aa17e6; } .hljs-emphasis { color: #aa17e6; font-style: italic; } .hljs-meta, .hljs-meta .hljs-keyword, .hljs-meta .hljs-string { color: #e013d0; } .hljs-meta .hljs-keyword, .hljs-meta-keyword { font-weight: bold; } 
  } 
